@font-face {
  font-family: Mondwest;
  src: url("fonts/PPMondwest-Regular.otf");
}

@font-face {
  font-family: NeueBit;
  src: url("fonts/PPNeueBit-Bold.otf");
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.main-plates {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 10% 10% 10% 10%;
}

@media screen and (min-width: 1050px) {
  .main-plates {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .dis-biggie {
    opacity: 0;
    pointer-events: none;
  }

  .dis-big {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .eyes-big {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .main-plates {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .dis {
    display: none;
  }
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  /* text-align: center; */
}

body {
  background-image: url("img/picnic.png");
}

.outer {
  width: 100vw;
  height: 100vh;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.inner {
  position: absolute;
}

#napkin {
  background-color: white;
  height: 90%;
  width: 90%;
  margin: 5%;
  border-radius: 15px;
}

#popup,
#about,
#one,
#two,
#three {
  background-color: #52a6ce;
  height: 60%;
  width: 75%;
  margin: 12.5%;
  opacity: 95%;
  border-radius: 15px;
  display: none;
}

canvas {
  height: 100%;
  width: 100%;
}

#close {
  height: 50%;
  width: 64%;
  margin: 18%;
  font-size: 2rem;
  overflow: scroll;
}

#name {
  height: 90%;
  width: 90%;
  margin: 5%;
  font-size: 1.5em;
  border-radius: 15px;
  position: relative;
  display: none;
}

.thesis-name {
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: end;
}

.pu1 {
  height: 75%;
  width: 80%;
  margin: 50px 10% 50px 10%;
  opacity: 100%;
  color: white;
  font-size: 2rem;
  overflow: scroll;
}
.close {
  height: 20%;
  width: 64%;
  margin: 18%;
}

p {
  font-size: 1em;
  font-family: NeueBit;
}

h1,
h4,
ul {
  font-family: Mondwest;
  margin-top: 0px;
  margin-bottom: 15px;
}

h2 {
  font-family: Mondwest;
  font-size: 5.3vw;
  text-align: center;
}

li {
  font-size: 21px;
}

#bao-close {
  float: right;
  width: 50px;
}

/* mouse with chopsticks */
.mouse {
  cursor: url(img/chopsticks.png), auto;
}

/* animations */

.p1 {
  animation: mymove 5s infinite;
}

.p2 {
  animation: yourmove 10s infinite;
}

.p3 {
  animation: allmove 3s infinite;
}

#baos-animation,
#eyes-animation,
#sushi-animation {
  display: none;
}

#sushi-animation {
  width: 80%;
  left: 10%;
  margin-left: auto;
  margin-right: auto;
}

.video {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#eyes-animation {
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-top: 80px;
}

.quote-pp {
  text-align: end;
  margin-top: 0px;
}

.pu-photo {
  margin-top: 15px;
  width: 60%;
  margin-left: 20%;
}

.quote {
  font-family: Mondwest;
  font-size: 24px;
}

.formula {
  font-size: 18px;
}

.eyes {
  margin-left: auto;
  margin-right: auto;
}

#abbreviated-stats {
  display: none;
}

button {
  background-color: #12508b;
  color: white;
  border-style: hidden;
  border-radius: 20px;
  font-family: NeueBit;
  line-height: 15px;
}
